html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #0070f3;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
